
.prev{
    background: rgb(72, 1, 17);
}

.logo{
    height: 400px;
    width: 450px;
    position: absolute;
    top: 30%;
    left: 40%;
    color: #c1c1e8;
}

.menu{
    height: 100vh;
    width: 5vh;
    background:black;
    position: relative;

}
#block{
    writing-mode: vertical-rl;
    transform: rotateZ(360deg);
    color: #d20000;
    position: absolute;
    top: 40%;
    text-align: left;
    font-size: 20px;
}

.about{
    text-align: center;
}


.colons{
    background: #dedede;
}

card{
    margin-top: 120px;
}

.link-dark {
    color: #000000!important;
}

.about{
    padding-bottom: 20px;
    padding-top: 100px;
    text-align: center;
}

.about_us{
    padding-bottom: 100px;
}
#neo{
    padding-top: 40px;
}
#trin{
    padding-top: 40px;
}
#morf{
    padding-top: 60px;
}
.our_works{
    padding-top: 80px;
    background: #dedede;
}
.colons{
    background: #dedede;
}

card{
    margin-top: 120px;
}

.main_mix_menu{
    padding-top: 20px;
    padding-bottom: 40px
;
}

section{
    padding-bottom: 10PX;
}

.back{
    background: #dedede;
}

.card{
    background: #ffffff;
    --bs-card-border-width: 0;
    margin: 0 auto; /* для центра */
    float: none; /* для центра */
    margin-bottom: 10px; /* для центра */
    --bs-card-border-radius: 3em;
}

.more{
    font-size: 20px;
    padding-bottom: 20px;
}

.why_shoose_us{
    padding-top: 100px;
    padding-bottom: 40px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    padding-top: 40px;
}


.centered {
    position: absolute;
    top: 130px;
    left: 50em;
}
.centered>h1  {
    font-size: 40px;
}
.rightimg{
    float: left;
}

.our_team{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(66,66,222,0.8799894957983193) 47%, rgb(17, 100, 119) 88%);*/
}
.our_t{
    padding-bottom: 30px;
    color: #000000;
}

.our_skills{
    padding-top: 10px;
    padding-bottom: 10px;
}
.our_skill{
    padding-bottom: 50px;
}
.skillbar {
    background: #000000;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 60%;
}
.skillbar_1 {
    background: #000000;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 50%;
}
.skillbar_2 {
    background: #000000;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 30%;
}
.skillbar_3 {
    background: #000000;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width:80%;
}
.skillbar_4 {
    background: #000000;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 40%;
}
.skillbar_5 {
    background: #000000;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 60%;
}

.skillbar-title {
    color: #323232;
    font-size: 12px;
    left:15px;
    position: relative;
    top: 5px;
}
.skillbar-title h3{
    font-size:14px;
    color: #ffffff;
}

#brands{
    padding-top:50px;
}
input{
    margin: auto;
}

.carusrel{
    background: #cecece;
}
.thank_you{
    background: #cecece;
}

.contact_us{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 150px;
}
.contact_u{
    padding-bottom: 30px;
    color: #000000;
}

.down{
    padding-bottom: 30px;
}
footer {
    padding-top: 150px;
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 150px;
    font-size: 20px;
}
