
.prev{
    background: rgb(8, 47, 8);
}

.logo{
    height: 200px;
    width: 310px;
    position: absolute;
    top: 33%;
    left: 15%;
    color: rgba(255, 255, 255, 0.89);

}
.NEO {
    position: relative;
    left: 900px;
    top: 60px;
}

.menu{
    height: 100vh;
    width: 6vh;
    background:black;
    position: relative;

}
#block{
    writing-mode: vertical-rl;
    transform: rotateZ(360deg);
    color: #ffffff;
    position: absolute;
    top: 40%;
    text-align: left;
    font-size: 19px;
}

.about{
    text-align: center;
}


.colons{
    background: #dedede;
}

card{
    margin-top: 120px;
}

.link-dark {
    color: #000000!important;
}

.about{
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center;
}

.about_us{
    padding-bottom: 100px;
}
#neo{
    padding-top: 40px;
}
#trin{
    padding-top: 40px;
}
#morf{
    padding-top: 60px;
}
.our_works{
    padding-top: 80px;
    background: #dedede;
}
.colons{
    background: #dedede;
}

card{
    margin-top: 120px;
}

.main_mix_menu{
    padding-top: 20px;
    padding-bottom: 40px
;
}
.btn-light {
    --bs-btn-bg: #dedede;
    border: #323232;

}

section{
    padding-bottom: 10PX;
}

.back{
    background: #dedede;
}

.card{
    background: #ffffff;
    --bs-card-border-width: 0;
    margin: 0 auto; /* для центра */
    float: none; /* для центра */
    margin-bottom: 10px; /* для центра */
    --bs-card-border-radius: 3em;
}

.more{
    font-size: 20px;
    padding-bottom: 20px;
}

.why_shoose_us{
    padding-top: 100px;
    padding-bottom: 40px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


.centered {
    position: absolute;
    top: 130px;
    left: 50em;
}
.centered>h1  {
    font-size: 40px;
}
.rightimg{
    float: left;
}

.our_team{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;

}
.our_t{
    padding-bottom: 30px;
    color: #142b14;
}

.our_skills{
    padding-top: 100px;
    padding-bottom: 10px;
}
.our_skill{
    padding-bottom: 50px;
}
.skillbar {
    background: #254f25;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 80%;
}
.skillbar_1 {
    background: #675302;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 35%;
}
.skillbar_2 {
    background: #254f25;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 60%;
}
.skillbar_3 {
    background: #254f25;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width:90%;
}
.skillbar_4 {
    background: #5d0707;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 25%;
}
.skillbar_5 {
    background: #254f25;
    display: block;
    height:30px;
    margin-bottom:10px;
    position: relative;
    width: 60%;
}

.skillbar-title {
    color: #323232;
    font-size: 12px;
    left:15px;
    position: relative;
    top: 5px;
}
.skillbar-title h3{
    font-size:14px;
    color: #ffffff;
}

#brands{
    padding-top:50px;
}
input{
    margin: auto;
}

.thank_you{
    background: #cecece;
}

.contact_us{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 150px;
}
.contact_u{
    padding-bottom: 30px;
    color: #000000;
}

.down{
    padding-bottom: 30px;
}
footer {
    padding-top: 150px;
    background-color: #132f13;
    text-align: center;
    color: white;
    padding-bottom: 150px;
    font-size: 20px;
}
.card-body_3{
    font-size: 18px;
    padding-bottom: 110px;
}
.news{
    padding-top: 100px;
}
.News_m{
    padding-bottom: 70px;
}
form{
    padding-left: 25%;
}
.reg{
    padding-bottom: 150px;
    padding-top: 10px;
    background: black;
}

.welcome_m{
    padding-top: 100px;
    padding-bottom: 50px;
    color: #ffffff;
}

#red>.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #7c0505;
    --bs-btn-border-color: #7c0505;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #7c0505;
    --bs-btn-hover-border-color: #7c0505;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7c0505;
    --bs-btn-active-border-color: #7c0505;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #7c0505;
    --bs-btn-disabled-border-color: #7c0505;
}